*.log
.vscode
.DS_Store
.idea


openwechat/config/prod.yaml
openwechat/avatar/test.png
openwechat/comm/funcs/cc.txt
openwechat/avatar/*.png
openwechat/avatar/*.jpeg
openwechat/avatar/*.gif
wxbot.exe
prod.yaml



